<html ng-app="listaTelefonica">
<head>
	<title>Lista Tefefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin: 20px auto auto auto;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
	</style>
	<script src="lib/angular.min.js"></script>
	<script>
		angular.module("listaTelefonica", []); 
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
			$scope.app = "Lista Telefonica";
			$scope.contatos  = [
				{nome: "Caic", telefone: "9823913", categoria: "Celular", cor: "blue"},
				{nome: "Pedro", telefone: "312312",categoria: "Celular", cor: "red"},
				{nome: "Alba", telefone: "55555555", categoria: "Celular", cor: "yellow"}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14},
				{nome: "Vivo", codigo: 15},
				{nome: "Tim", codigo: 41}
			];
			$scope.adicionarContato =function(contato) {
				$scope.contatos.push(contato);
				$scope.contato = {};
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos =contatos.filter(function (contato) {
					if(!contato.selecionado) return contato;
				})
			};
			$scope.isContatoSelecionado = function (contatos) {
				return isContatoSelecionado = contatos.some(function (contato) {
					return contato.selecionado;
				})
			}
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Tefefone</th>
				<th>Operadora</th>
				<th></th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"</td>
			</tr>
		</table>
		<hr/>
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
		<select class="form-control" ng-model="contato.operadora" 
			ng-options="operadora.nome for operadora in operadoras">
			<option value="">Selecione uma operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" 
			ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>

		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)"
			ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>