<!-- O angular trabalha em cima de diretivas -->
<!-- trechos de codigo ja implementadas -->
<!-- que o angular consegue ler atraves de um processo de compilacao -->
<!-- com isso podemos ter varias funcionalidades prontas -->
<!-- e reaproveitar em varios momentos -->
<html ng-app="listaTelefonica">
<head>
	<meta charset="Utf-8">
	<title>Lista Tefefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin: 20px auto auto auto;
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			 font-weight: bold;
		}
	</style>
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-messages.js"></script>
	<script src="lib/angular-locale_pt-br.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]); 
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $http, $filter) {
			$scope.app = "Lista Telefonica";
			$scope.contatos  = [
				{nome: $filter('uppercase')("Caic"), telefone: "9823913", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}, cor: "blue"},
				{nome: "Pedro", telefone: "312312", data: new Date(), operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}, cor: "red"},
				{nome: "Alba", telefone: "55555555", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}, cor: "yellow"}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular", preco: 1},
				{nome: "Vivo", codigo: 15, categoria: "Celular", preco: 2},
				{nome: "Tim", codigo: 41, categoria: "Celular", preco: 3},
				{nome: "Gvt", codigo: 51, categoria: "Fixo", preco: 1},
				{nome: "Embratel", codigo: 61, categoria: "Fixo", preco: 2}
			];
			//get -> Obter recursos || post -> Criar entidade 
			//poderiamos estar passando variavel por variavel, mas podemos criar
        	//uma abstracao, que no caso pode ser contato, contendo nome e telefone
        	// $scope.adicionarContato = function(nome, telefone) {
			$scope.adicionarContato =function(contato) {
				$scope.contatos.push(contato);
				$scope.contato = {};
				$scope.contatoForm.$setPristine();
			};
			$scope.apagarContatos = function (contatos) {
				//filtrando os contatos selecionados com filter
				// var contatosSelecionados = contatos.filter(function(contato){
				//     if(contato.selecionado) return contato;
				// });
				// console.log(contatosSelecionados);
				//nao precisamos deletar os contatos selecionados
				//apenas podemos retornar os contatos nao selecionados 
				//e atribuir novamente a $scope.contatos
				$scope.contatos =contatos.filter(function (contato) {
					if(!contato.selecionado) return contato;
				})
			};
			$scope.isContatoSelecionado = function (contatos) {
				return isContatoSelecionado = contatos.some(function (contato) {
					return contato.selecionado;
				})
			};
			$scope.ordenarPor = function (campo) {
				$scope.criterioDeOrdenacao = campo;
			};

		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você esta buscando?"/>
		<table class="table table-striped" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th>Tefefone</th>
				<th><a href="" ng-click="ordenarPor('operadora')">Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<!-- ng-class - podemos definir se o componente sera renderizado com uma classe de estilo ou nao -->
            <!-- no caso estamos verificando se contato esta selecionado -->
            <!-- no javascript quando temos uma '' - string podemos utilizala como valores separadas por ' ' espacos -->
            <!-- ai teriamos se o contato estiver selecionado - as classes selecionado e negrito -->
			<!--selecionado: contato.selecionado = esse selecinado é para ele ficar amarelo-->
			<!--adicionando o filter:{nome: criterioDeBusca} ele ja consegue fazer a busca pelo criterioDeBusca(campo do input)-->
			<!--orderBy -> ordenação-->
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | limitTo:2 | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
			<!-- ng-style="{'background-color': contato.cor}" - utilizando para aplicar um estilo especifico-->
            <!-- no caso background-color dinamicamente de acordo com a cor do contato -->
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr/>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-minlength="10" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{5}-\d{4}$/"/>
		<!-- ng-options="operadora.nome for operadora in operadoras" - estamos indicando que os valores do options -->
        <!-- serao o nome da operadora -->
        <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras"> -->
            
        <!-- ng-options="operadora.codigo as operadora.nome for operadora in operadoras" - estamos indicando que o valor sera o codigo, e o label o nome da operadora-->
        <!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"> -->

        <!-- podemos agrupar os registros do select - group by - ele agrupa os registros de acordo com um expressao-->
		<!-- currency -> transforma numero em dolar e com o import de locale ele fica em Real-->
			<select class="form-control" ng-model="contato.operadora" 
				ng-options="operadora.nome +'( ' + (operadora.preco | currency) + ' )' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<!-- como contato.operadora estar undefined, tera um valor em branco-->
                <!-- para tirar este comportamento, utilizamos um option para o campo vazio-->
				<option value="">Selecione uma operadora</option>
			</select>
		</form>  
		<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor preencha o campo nome!
			</div>
			<div ng-message="minlength" class="class=" alert alert-danger "">
				O campo nome deve ter no mínimo 10 caracteres!
			</div>
		</div>
		<div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
			<div ng-message="required"  class="alert alert-danger">
			Por favor preencha o campo telefone!
			</div>
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			Campo telefone deve ter o format xxxxx-xxxx!
		</div>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" 
			ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
		<!-- com o ng-show - estamos o angular faz apenas um display none no componente, sendo assim o componente renderizado, apenas nao esta visivel -->
		<!-- com ng-if - estamos indicando que este componente nao sera renderizado, apenas quando for verdadeiro -->
        <!-- indicado para aplicacaoes performaticas -->
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)"
			ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>